{% extends 'topics/base.html' %}


{% block content %}
<div class="container mt-5">
        <div class="row">
            {% for topic in public_topics %}
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><a href="{{topic.owner.profile.get_absolute_url}}"><img src="{{topic.owner.profile.image.url}}" alt="" style="width: 60px; height: 60px" class="rounded-circle"></a>
                        <div class="d-flex flex-column ml-2"><h6 class="dark-color">{{topic.owner}}</h6><h6 class="theme-color">Topic: {{topic.title}}</h6></div>
                    </div>
                    <h6>{{topic.description}}</h6>
                    <div class="d-flex justify-content-between install mt-3"><span style=" color: orchid">{% if topic.favorite %} Favorite topic <i class="fas fa-check"></i></span>{% else %}<span style=" color: darkgreen">Topic{% endif %}</span></span><span class="text-primary"><a href="{{topic.owner.profile.get_absolute_url}}"><button type="submit" class="btn btn-outline-primary"> View profile&nbsp;<i class="fa fa-angle-right"></i></span></button></a></div>
                    <form action="{% url 'topics:like_topic' topic.pk %}"
                        method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if request.user in topic.likes.all %}
                                <button type="submit" name="topic_id" value="{{ topic.id }}"
                                class="btn btn-danger btn-sm">Unlike</button>
                            {% else %}
                                <button type="submit" name="topic_id" value="{{ topic.id }}"
                                    class="btn btn-primary btn-sm">Like</button>
                            {% endif %}
                        {% endif %}
                        - {{ topic.count_likes }} Likes
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
